---
layout: foundation
---

<!-- Nav Bar -->

{% include github_ribbon.html %}

<header>
  <div class="row">
    <div class="large-12 columns">
      <h1><i class="fa fa-coffee"></i> RSpec Tutorial <small>Test like a Myron</small></h1>
    </div>
  </div>
</header>

<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">

  <!-- Main Blog Content -->

  <div class="large-9 columns" role="content">
    <div class="main-content">
      {{ content }}
    </div>
  </div>

  <!-- End Main Content -->


  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Code</a></li>
      <li><a href="#">Design</a></li>
      <li><a href="#">Fun</a></li>
      <li><a href="#">Weasels</a></li>
    </ul>

    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More →</a>
    </div>

  </aside>

  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© 2014 Aaron Kromer. See <a href="https://github.com/cupakromer/rspec-tutorial/blob/master/LICENSE">LICENSE</a> for details.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

